<p style='font-size: 14pt; margin: 15px 0;'>
    Please confirm your account by clicking
    <a href='{{ Data.ConfirmationLink }}' style='color: {{ Theme.Primary | default: "#007bff" }}; text-decoration: none;'>this link</a>.
</p>
