<p style='font-size: 14pt; margin: 15px 0;'>
    Please reset your password by clicking
    <a href='{{ Data.ResetLink }}' style='color: {{ Theme.Primary | default: "#007bff" }}; text-decoration: none;'>this link</a>.
</p>
